.form-register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-register input {
    border: 2px solid rgba(206, 206, 206, 1);
    width: 429px;
    height: 55px;
    border-radius: 10px;
}

.form-register input::placeholder,
.credit-checkout input::placeholder {
    text-align: center;
}

.page-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    text-align: center;
}

.page-subname {
    font-weight: 600;
    font-size: 15px;
    line-height: 18.15px;
    color: black;
    margin: 21px 15px;
}

.btn-register {
    background-color: rgba(206, 206, 206, 1);
    color: black;
    margin: 14px;
    width: 181px;
    height: 68px;
    border-radius: 10px;

}

.btn-register:hover {
    background-color: rgba(206, 206, 206, 1);
    border: 1px solid black;
}