main.select-customer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px
}

.search-bar input,
.search-results .customer-results {
    width: 429px;
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 10px;
}

.search-bar input {
    margin: 0;
    height: 55px;
}

.search-bar input::placeholder {
    text-align: center;
}

.search-results .customer-results {
    height: 408px;
}

.search-bar p,
.search-results p {
    margin: 3px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: rgba(114, 114, 114, 1);
}

.customer {
    width: 379px;
    height: 38px;
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
    margin: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.customer p {
    color: black;
    font-weight: 500;
}