.shopping-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    margin: 0;
}

main.main-panel {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
    margin: 2px 2rem;

    max-height: 626px;

}

.panel-left-side {
    flex: 2;
}

.panel-left-side>.search-bar {
    margin: 15px 0px;
}

.panel-right-side {
    flex: 1.2;
    height: 650px;
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.categories a {
    height: 29px;
    width: 215px;
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
    text-decoration: none;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid rgba(206, 206, 206, 1);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    max-width: 683px;
}

.product-card {
    width: 200px;
    height: 250px;
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card p,
.categories a,
.summery-customer a,
.panel-product p,
.btn-option,
.credit-checkout {
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 600;
}

.summery {
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 10px;
    height: 608px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 25px;
}

.summery-customer,
.panel-product div {
    background-color: rgba(206, 206, 206, 1);
    border-radius: 10px;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.panel-product {
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 200px;
    padding: 10px 15px 10px 15px;
}

.panel-product>div {
    display: flex;
    align-items: center;
    width: 350px;
    height: 55px;
}

.panel-product>div:first-child {
    margin-bottom: 10px;
}

.btn-checkout {
    background-color: black;
    color: white;
    width: 100%;
    text-decoration: none;
    height: 55px;
    border-radius: 10px;
}

.panel-product .cart-totals {
    height: 100%;
}